.vscode
.idea
.DS_Store

build/
build_isolated/
devel/
devel_isolated/
install/
install_isolated/
temp/

*.pyc
*.bag
*.bag.active

robot_gazebo/
ceres-solver/

.env
mailmap.txt

maps/LeGO-LOAM/
maps/LIO-SAM/
maps/pcd_map/
**/pcd2pgm/pcd2pgm/pcd_map/

Ros_Qt5_Gui_App/build/
tools/ros_rqt_gui/*.log

