[submodule "src/dr100/rslidar_sdk/src/rs_driver"]
	path = src/dr100/rslidar_sdk/src/rs_driver
	url = https://github.com/RoboSense-LiDAR/rs_driver.git
[submodule "src/dr100/witmotion_ros/witmotion-uart-qt"]
	path = src/dr100/witmotion_ros/witmotion-uart-qt
	url = https://github.com/ElettraSciComp/witmotion_IMU_QT.git
[submodule "src/nav_stack/hdl/fast_gicp/thirdparty/Sophus"]
	path = src/nav_stack/hdl/fast_gicp/thirdparty/Sophus
	url = https://github.com/strasdat/Sophus.git
[submodule "src/nav_stack/hdl/fast_gicp/thirdparty/Eigen"]
	path = src/nav_stack/hdl/fast_gicp/thirdparty/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/nav_stack/hdl/fast_gicp/thirdparty/nvbio"]
	path = src/nav_stack/hdl/fast_gicp/thirdparty/nvbio
	url = https://github.com/NVlabs/nvbio.git
